head  
    title Forum Site
    style
        include ../../public/style.css
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">The Ultimate Forum Site</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/pages/topics">All Topics</a></li>
      <li><a href="/pages/topic">Add New Topic</a></li>
    </ul>
  </div>
</nav>
