extends layout

block content
    div
        table(class='table table-striped')
            thead(bgcolor="#6296F1")
                tr: th Topic
                    th Text
                    th Created At
                    th Created By
            tbody
                each topic in topics
                    tr
                        td #{topic.topic} 
                        td #{topic.text}
                        td #{topic.createdAt}
                        td #{topic.user.name}
